In [1]:
# introduction to tuple datatypes

In [3]:
# definition: an immutable list is called a tuple
# classification: immutable data type
# how to define: normal brackets ()

In [5]:
students = ('ramesh','vishal','keerthi','pranavi','joseph','abdul')

In [7]:
print(students)

('ramesh', 'vishal', 'keerthi', 'pranavi', 'joseph', 'abdul')

In [9]:
type(students)

tuple

In [13]:
###difference between list and tuple is ==> list []  and tuple ()
###  tuple cannot be edited or modified 
print(students[0])

ramesh

In [15]:
students[0] = 'suresh'

TypeError: 'tuple' object does not support item assignment

In [17]:
###tuple object cannot be modified

In [19]:
dimensions = (200,50)

In [21]:
### dimension is length and breadth

In [23]:
for a in students:
    print(a)

ramesh
vishal
keerthi
pranavi
joseph
abdul

In [25]:
for b in students:
    print(b)

ramesh
vishal
keerthi
pranavi
joseph
abdul

In [31]:
#note: indentation is to add gap to next line which is required . if not present Indentation
###error will be displayed

In [35]:
### introduction to dictionaries ** most of the data will be coming in dictionary format
###definition: a dictionary is a combination of key/value based
### classification: it is classified as a mutable datatype
###how to define a dictionary:  by using flower {} braces

In [37]:
###req:  create an alien game

In [43]:
alien = {'color':'green', 'points':5}

In [45]:
print(alien['color'])

green

In [47]:
print(alien[5])

KeyError: 5

In [ ]:
### From a dictionary we can get the key providing the value pair 
####but we can get the value for a given key as shown above